:root {
    --main-bg: rgb(201, 212, 231);
    --gray-1: rgb(241, 241, 241);
    --gray-2: rgb(92, 87, 84);
    --sidebar: rgb(105, 185, 255);
    --sidebar-2: rgb(68, 166, 252);
    --card-border: rgb(254, 103, 21);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px auto;
    height: 100vh;
    height: 100svh;
}

/* Header section */
.header {
    padding: 1rem 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-color: var(--gray-1);
    z-index: 1;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.3);
}
.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.search-bar > label {
    display: flex;
    align-items: center;
}
input[id="search"] {
    border: 0;
    outline-color: rgb(43, 43, 55);
    background-color: var(--main-bg);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5rem;
    width: min(80%, 600px);
    height: 40px;
}
.profile-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-bar p {
    width: max-content;
    font-weight: bold;
}
.profile-picture {
    height: 2.5rem;
    border-radius: 50%;
    margin: 0 1rem 0 3rem;
}
.profile .profile-picture {
    margin: 0;
    height: 4.5rem;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.greeting {
    font-size: 1.2rem;
    font-weight: bold;
}
.greeting p + p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.header-bottom .buttons {
    display: flex;
    gap: 2rem;
}
.buttons div {
    color: white;
    background-color: var(--sidebar);
    width: 6rem;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.buttons div:hover {
    background-color: var(--sidebar-2);
}

/* Sidebar section */
.sidebar {
    padding: 2rem;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--sidebar);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    z-index: 2;
}
/* .sidebar .nav {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 1.2rem;
    row-gap: 1.4rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
} */
.nav h1 {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
.nav li {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.nav .logo {
    height: 2.8rem;
    font-size: 1.8rem;
}
.nav li img {
    height: 1.8rem;
}
img {
    height: 1.8rem;
}
.sidebar img {
    filter: invert(1); /* Invert svg images' colors */
}
.settings {
    margin-top: 2rem;
}

/* Main section */
.main {
    padding: 2rem;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    overflow: auto;
}
.card p {
    color: var(--gray-2);
}
.card {
    padding: 2rem;
    background-color: var(--gray-1);
    border-radius: 0.6rem;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%)
}
.projects-container {
    grid-column: 1/2;
    grid-row: 1/3;
}
.main > div > p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
}
.project.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px solid var(--card-border);
}
.card-buttons {
    align-self: flex-end;
    display: flex;
    gap: 1.5rem;
}
.card-buttons img {
    height: 1.7rem;
    filter: invert(34%) sepia(10%) saturate(249%) hue-rotate(339deg) brightness(92%) contrast(88%); /* Change svg color */
}
.card-buttons img:hover {
    filter: invert(0);
    cursor: pointer;
}
.announcements-container div, .trending-container div{
    font-size: 0.9rem;
    min-width: 9rem;
}
hr {
    margin: 1rem 0;
}
.trending-container .card > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.trending-profile :first-child {
    font-weight: bold;
}
.trending-container img {
    border-radius: 50%;
    height: 2.5rem ;
    width: 2.5rem;
}
.user + .user {
    margin-top: 1.5rem;
}
.trending-profile div + div {
    color: var(--gray-2);
}