body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px auto;
    height: 100vh;
}

.header {
    grid-column: 1/3;
    grid-row: 1/2;
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(105, 185, 255);
}
.main {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(201, 212, 231);
}